<!doctype html>
<html lang="en">
<head>
  <app-navbar></app-navbar>
  <!--  <meta charset="utf-8" />-->
  <title>it workd</title>
  <base href="/create-account">

  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<div class="container">
	<div class="starter-template">
		<h1>Help A Homie Out</h1>

		<h3>Create Account</h3>
		<p>welcome to create account</p>
		<form action="/action_page.php">
			Username: <input type="text" name="username">
			<br>
			Password: <input type="password" name="password">
			<br> 
			Confirm Password: <input type="password" name="password2">
			<br>
			Zip: <input type="number" name="password">
			<br>
			<input type="submit" value="Create">
		</form>
	</div>
	</div>
	</body>
</html>