<app-navbar></app-navbar>


<div class="container">

	<div class="starter-template">
		<app-main-page></app-main-page>
		<h3>Course List</h3>
		
  <h1>Angular Router</h1>
  <nav>
    <a routerLink="/create-account" routerLinkActive="active">Create Account</a>
    
  </nav>
  <router-outlet></router-outlet>

		<app-profile-page></app-profile-page>
	</div>
</div>

<!-- <div class="container">
	<div class="starter-template">
		<h1>Help A Homie Out</h1>

		<h3>Login</h3>

		<form action="/action_page.php">
			Username: <input type="text" name="username">
			<br>
			Password: <input type="password" name="password">
			<br> 
			<input type="submit" value="Submit">
		</form>
		<button>Create Account</button>
	</div>
</div> -->