<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Profile</title>
  <base href="/profile">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="import" href="bootstrap.html">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/landing-page.min.css" rel="stylesheet">
</head>
<body>
<app-navbar></app-navbar>
<ul>
	<div *ngFor="let course of coursesObservable | async">
		<ngb-alert type="info" [dissmissible]="false">
			<h3><a href="{{course.url}}">{{course.title}}</a></h3>
			<p>{{course.description}}</p>
			<div>
				<a href="{{course.url}}" target="_blank" class="btn btn-danger">Go to Course</a>
			</div>
		</ngb-alert>
	</div>
</ul>


<p>
  Profile page is under development.
</p>
</body>
</html>